{#
/**
 * @file
 * Profile beprime map block.
 */
#}
<div class="beprime-map-block">
    <div id="map" data-title="{{ title }}" data-lat="{{ lat }}" data-lon="{{ lon }}" data-addr="{{ address }}" data-url="{{ url }}"></div>
</div>